.narrow1heading {
    font-family: Oswald,arial,sans-serif;
    font-size: 4rem;
    display: block;
    font-weight: 100;
	text-transform: uppercase;
	line-height: 1;
}
.narrowsideheading
{
	font-family: Oswald,arial,sans-serif;
font-size: 4rem;
display: block;
font-weight: 700;
	color: #46494c;
	text-transform: uppercase;
	margin-bottom: 3rem;
}
.narrowsideheading .script {
    font-family: Lakeshore,arial,sans-serif;
    font-weight: 400;
    display: block;
    font-size: 8rem;
    line-height: 5rem;
}
  ol[type='a'],  ol[type='a'] li {
    list-style-type: lower-alpha !important;
  }
  ol[type='i'], ol[type='i'] li  {
    list-style-type: lower-roman !important;
  }
  .customevsec
  {
  overflow: hidden;
  }
.firstblocgsec
{
	margin-top:5rem;
}
.sec-modern .sec_foot_wrap, .sec-modern-widget .sec_foot_wrap {
    
    display: none !important;
}
/***************10-7-2019******************/
#post-404 {
	padding-top: calc(10vw);
	padding-bottom: calc(10vw);
	min-height: 88.806vh;
	width:65%;
	margin: auto;
	text-align:center;font-weight:700;
}
.overlay {
	background: #000000;
	opacity: 0.5;
	color: white;padding: 10%;
}
.searchhead {
	line-height: 86px;
	font-size: 65px;
}
#post-404 h2 a {
	color: white;
}
#post-404 h2 {
	margin: 30px 0px 47px;
}
#post-404 .search .search-input {
	padding: 9px 32px;
	border: 2px solid #fff;
background-color: #bebbbf;
}
#post-404 .search-submit {
	padding: 9px;
	border: 2px solid #fff;
background-color: #bebbbf;
}
#post-404  .page-content {
	color: white;
}
#post-404 h2 a {
	color: white;
	border: 2px solid rgba(255,255,255,.75);
	border-radius: 50px;
	letter-spacing: 2px;
	line-height: 20px;
	font-size: 14px;
	-webkit-transition: all .45s cubic-bezier(.25,1,.33,1) !important;
	padding-left: 45px;
	padding-right: 45px;
	padding-top: 13px;
padding-bottom: 13px;
	font-weight: 700;
}
#post-404 h2 a:hover {
	background-color: #353535;
	
}
a:focus {
	outline: none;
}
.page-content .search {
	margin: 20px 0px;
}
#post-404 .page-content p {
	font-weight: normal;
}
.post-bottom-social-sharing .shareheading {
	float: left;
	width: 100%;
	color: red;
	font-style: italic;
	margin-bottom: 20px;
	font-size: 20px;
}
.post-bottom-social-sharing .pm-label {
	width: 10%;
	float: left;
	font-weight: 700;
	text-align: center;
	line-height: 19px;
	font-size: 16px;color: #181818;
	margin-right:5px;
}
.post-bottom-social-sharing .et_social_inline.et_social_mobile_on.et_social_inline_top {
	float: left;
	width: 89%;
}
.post-bottom-social-sharing {
	position: relative;
	float: left;
	width: 100%;
}
.post-bottom-social-sharing::before {
	position: absolute;
	content: "";
	background-image: url("https://matthewpollard.com/wp-content/uploads/2019/10/ICON2.png");
	background-size: cover;
	background-repeat: no-repeat;
	width: 60px;
	height: 50px;
	left: -38px;
	transform: rotate(-52deg);
	top: 15px;
}
/**********responsive**********/
@media screen and (max-width: 1024px) {
	.searchhead {
	line-height: 77px;
	font-size: 52px;
}
}
	@media screen and (max-width: 768px) {
		#post-404 {
	width: 80%;
}
	.searchhead {
line-height: 56px;
font-size: 39px;
}
}
	
